.jumbotron {
  background-color: #0071c2;
  color: #febb02;
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  border-radius: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: rgb(101, 119, 134);;
  margin-bottom: 0px;
  margin-top: 15px;
}

.card-restaurant {
  flex: 1 200px;
  margin-top: 15px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon{
  padding-right: 5px;
}

.btn-icon-reserva{
  padding-right: 10px;
}

.tab-content{
  padding-top: 10px;
}