$yellow: #febb02;
$blue: #0071c2;
$gris: rgb(101, 119, 134);

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $blue;
  color: $yellow;
  @include margenes(50px, 15px);
  text-align: center;
  font-style: italic;
  border-radius: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $gris;
  @include margenes(15px, 0px);
}

.card-restaurant {
  flex: 1 200px;
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon{
  padding-right: 5px;
}

.btn-icon-reserva{
  padding-right: 10px;
}

.tab-content{
  padding-top: 10px;
}